/dataset
/data_for_test
outputs
wandb
config
thirdpart
GroundingDINO
exps
resources
logs
pointnet2
thirdpart/*
checkpoints/
**/__pycache__

**/__pycache__/ 
GroundingDINO/
src/groundingdino
GeoL_diffuser/__pycache__
GeoL_diffuser/algos/__pycache__/
GeoL_diffuser/dataset/__pycache__/
GeoL_diffuser/models/__pycache__/
GeoL_diffuser/trainer/__pycache__/
GeoL_net/models/__pycache__/
GeoL_net/gpt/__pycache__/
GeoL_diffuser/dataset/__pycache__/
GeoL_diffuser/models/utils/__pycache__/
selected_scene/
yolov8
yoloworld
data_and_weights
GroundingDINO/*
.tmp/*
src/*
Pointnet2_Pytorch/*
qualitative_demo/*