[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP.git
[submodule "DiffusionCLIP"]
	path = DiffusionCLIP
	url = https://github.com/gwang-kim/DiffusionCLIP.git
[submodule "GroundingDINO"]
	path = GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "thirdpart/seeing-unseen"]
	path = thirdpart/seeing-unseen
	url = https://github.com/Ram81/seeing-unseen.git
