/dataset
outputs
wandb
config
thirdpart
GroundingDINO
exps
resources
logs
pointnet2
thirdpart
data_for_test/*
checkpoints/*
*.pyc
GeoL_diffuser/models/__pycache__/
GeoL_diffuser/__pycache__/
thirdpart